[Desktop Entry]
Name=Qucs
Comment=An integrated circuit simulator
Comment[pl]=Symulator układów elektronicznych
Icon=biast.png
Exec=qucs
Encoding=UTF-8
Terminal=false
Categories=Qt;Utility;Electronics;
Type=Application
# vi: encoding=utf-8
